<%= simple_form_for(@weight) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :weight, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= button_to 'Back', weights_path, :method => "get", :class => 'btn btn-default' %>
