<div class="row">
  <div class="col-xs-8"><h1>Exercises</h1></div>
  <div class="col-xs-4 centered">
    <br>
    <%= button_to 'New Exercise', new_exercise_path, :method => "get", :class => 'btn btn-default' %>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Bodypart</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td>
          <% bodylist = "" %>
          <% exercise.bodyparts.each do |bodypart| %>
          <% if bodylist == "" then bodylist = bodypart.name else bodylist = bodylist + "\n<br>\n" + bodypart.name end %>
          <% end %>
          <%= bodylist.html_safe %>
        </td>
        <td><%= exercise.name %></td>
        <td><%= exercise.description %></td>
        <td>
          <%= button_to 'Edit', edit_exercise_path(exercise), :method => "get", :class => 'btn btn-default' %>
        </td>
        <td>
          <%= link_to 'Destroy', exercise, method: :delete, :class => 'btn btn-default', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

